
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>


    <table style="width:100%">
        <tr>
            <th>Degree</th>
            <th>Year</th>
            <th>Institution</th>
        </tr>
        <tr>
            <td>BSC</td>
            <td>2025</td>
            <td>AIUB</td>
        </tr>
        <tr>
            <td>HSC</td>
            <td>2019</td>
            <td>Uttara High School & College</td>
        </tr>
        <tr>
            <td>SSC</td>
            <td>2017</td>
            <td>Renaissance High School</td>
        </tr>
    </table>


