@{
    ViewBag.Title = "Home Page";
    string name = "Hasnatur Rahman Khan";
    string id = "21-45355-2";
    string email = "hasnatur.khan381@gmail.com";
    string gitHubLink = "https://github.com/Hasnatur/Adv-programming-with-.net";
}
<h2>Portfolio</h2>
<table>
    <tr>
        <td> Name: </td>
        <td> @name  </td>
    </tr>
    <tr>
        <td> ID: </td>
        <td> @id  </td>
    </tr>
    <tr>
        <td> Email: </td>
        <td> <a href="mailto:@email"> @email</a> </td>
    </tr>
    <tr>
        <td> Github Link: </td>
        <td><a href=@gitHubLink target="_blank"> @gitHubLink </a>  </td>
    </tr>
</table>

<br/>
<div>
    <a href="/Home/Education" class="btn btn-primary btn-md">Education</a>
    <a href="/Home/Project" class="btn btn-primary btn-md">Projects</a>
    <a href="/Home/Reference" class="btn btn-primary btn-md">Reference</a>
    <a href="/Home/Personal" class="btn btn-primary btn-md">Personal</a>
</div>
