
@{
    ViewBag.Title = "Personal";
    string name = "Hasnatur Rahman Khan";
    string fName = "Lutfor Rahman Khan";
    string mName = "Hana Rahman Khan";
}

<h2>Personal</h2>
<p> Name: @name</p>
<p> Father's Name: @fName</p>
<p> Mother's Name: @mName</p>

