
@{
    ViewBag.Title = "Project";
}

<h2>Project</h2>
<p><strong>Web Technology</strong></p>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales, erat vel rutrum placerat, est sapien vehicula nulla, quis auctor nulla nibh vitae lectus. Vestibulum tristique sed neque in facilisis. Nam dignissim mi commodo turpis fringilla feugiat. Duis quis auctor nunc. Praesent orci mi, ornare et ipsum elementum, porttitor semper urna. Maecenas elit urna, dapibus vitae tristique non, cursus quis lorem. Duis condimentum ex nunc. Ut tempor in ex vitae tempor. Praesent maximus tincidunt orci, vitae consectetur ex tempus ac. Nulla nec luctus erat, sed mollis quam.
    
 </p>
<br/>
<p><strong>Form Application using C#</strong></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales, erat vel rutrum placerat, est sapien vehicula nulla, quis auctor nulla nibh vitae lectus. Vestibulum tristique sed neque in facilisis. Nam dignissim mi commodo turpis fringilla feugiat. Duis quis auctor nunc. Praesent orci mi, ornare et ipsum elementum, porttitor semper urna. Maecenas elit urna, dapibus vitae tristique non, cursus quis lorem. Duis condimentum ex nunc. Ut tempor in ex vitae tempor. Praesent maximus tincidunt orci, vitae consectetur ex tempus ac. Nulla nec luctus erat, sed mollis quam.</p>
<br/>
<p><strong>Java</strong></p>

